 <style>
    body {
        background-image: url(https://hdwallsource.com/img/2018/2/wine-wallpaper-background-hd-62581-64553-hd-wallpapers.jpg);
    }
</style>
 <main>
        <nav class="sidebar">
            <a href="/">Home</a>
            <a href="/wines">Wines</a>
            <a href="/data">Data</a>
            <a href="/import">Import</a>
            <a href="#Custom Search">Custom Search</a>
        </nav>

    <div class="row content">
        <div class="column">
            <div class="card">
                <h3>Sales</h3>
                <p>{{data.sales1}}</p>
                <p>{{data.sales2}}</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Margin</h3>
                <p>{{data.margin1}}</p>
                <p>{{data.margin2}}</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Average Ring</h3>
                <p>{{data.aring1}}</p>
                <p>{{data.aring3}}</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Date Range
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/3">3</a>
                        <a class="dropdown-item" href="/7">7</a>
                        <a class="dropdown-item" href="/14">14</a>
                    </div>
                    <h3 id="daterangedisplay"></h3>
                </div>
            </div>
        </div>
    </div>

        <div class="row content">
            <div class="column2">
                <div class="card">
                    <h3>Time Periods</h3>
                    <div id="chartdiv"></div>
                </div>
            </div>

        <div class="column2">
            <div class="card">
                <h3>Fast Movers</h3>
                <div id="moveup"></div>
            </div>
            <div class="card">
                <h3>Slow Movers</h3>
                <div id="movedn"></div>
            </div>
        </div>
    </div>
</main>
